.carousel {
    position: relative;
    max-width: 500px;
    margin: auto;
  }
  
  .carousel img {
    width: 30%;
    display: none;
  }
  
  .carousel img.active {
    display: block;
  }
  
  .dots {
    text-align: center;
    margin-top: 10px;
  }
  
  .dots span {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
  }
  
  .dots span.active {
    background-color: #717171;
  }