.video-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 70%;
    margin: 0 auto; 
}

.video-wrapper {
    width: calc(25% - 10px); 
    position: relative;
}


.video-wrapper video {
    width: 100%;
}